<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    
</head>
<body>
    <h1>Encrypt and Decrypt Messages</h1>
    <div id="content-wrapper">
        <div id="encryption" class="Processor">
            <h2>Encrypt</h2>
            <div id="input_switch" class="switch-toggle">

                <input id="Text_switch" name="state-d" type="radio" />
                <label for="Text_switch" onclick="disable_Input('plain_text_message_file')">Text</label>
              
                <input id="Message_switch" name="state-d" type="radio" />
                <label for="Message_switch"  onclick="disable_Input('message')"">Message</label>
              
                <input id="Image_switch" name="state-d" type="radio" />
                <label for="Image_switch" onclick="disable_Input('image_file')">Image</label>
              
            </div>
            <div class="InOutPut">
                <input type="file" id="plain_text_message_file" placeholder="Upload message" accept=".txt"></br>
                <input type="file" id="image_file" placeholder="Upload image" accept="/image"></br>
                <textarea id="message" placeholder="Enter your message"></textarea><br>
                <input id="password_to_encrypte" placeholder="Enter the password"><br>
                <button onclick="encryptMessage()">Encrypt</button>
            </div>
            <p>Encrypted Message: <span id="encrypted_message" class="message"></span></p>
            <p>Key: <span id="key"></span></p>
            <button onclick="Copy_text('encrypted_message')">Copy Message</button>
            <button onclick="Copy_text('key')">Copy Key</button>
            <button onclick="Create_txt_file('encrypted_message')">Download Encrypted Message/Data</button>
            <button onclick="reset_file()">Reset Data</button>
            
        </div>

        <div id="decryption" class="Processor">
            <div class="InOutPut">
                <h2>Decrypt</h2>
                <input type="file" id="decrypt_message_file" placeholder="Upload encrypted message" accept=".txt"></br>
                <textarea id="decrypt_message" placeholder="Enter encrypted message"></textarea><br>
                <input id="decrypt_key" placeholder="Enter the key"><br>
                <input id="password_to_decrypte" placeholder="Enter the password"><br>
                <button onclick="decryptMessage()">Decrypt</button>
            </div>
            <p>Decrypted Message: <span id="decrypted_message" class="message"></span></p>
            <button onclick="Create_txt_file('decrypted_message')">Download decrypted Message/Data</button>
        </div>
        <div id="Option_button">
            <button type="button" id="Encryption_button" onclick="show_encryption()">Encryption</button>
            <button type="button" id="Decryption_button" onclick="show_decryption()">Decryption</button>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>