<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption testing page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/testing_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


<body>
    <div id="container">
        <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>
        <div id="result-div">
            <a id="result-display"></a>
        </div>
    </div>
    <div id="option-container">
        <input id="min-power" type="number" placeholder="Minimum 10^x to split">
        <input id="Number" type="number" placeholder="Maximum 10^x to split">
        <input id="max-text-length" type="number" placeholder="Maximum Text Length(10*x)">
        <input type="number" id="trial_num" placeholder="Trial Time per each test point">
        <div class="switch-toggle">
            <input id="normal-scale" name="testing-setting-button" class="setting-button" type="radio" style="display: none;"  checked>
            <label for="normal-scale" class="setting-button">Normal Scale</label>
            
            <input id="log-scale" name="testing-setting-button"  class="setting-button" type="radio" style="display: none;" >
            <label for="log-scale"class="setting-button">Log10 Scale</label>
        </div>
        <input id="str-length-index" type="number">
        <div class="switch-toggle">
            <input id="expon-length" name="length-setting-button" class="setting-button" type="radio" style="display: none;"  checked>
            <label for="expon-length" class="setting-button">Exponential grow string length</label>
            
            <input id="mulit-length" name="length-setting-button"  class="setting-button" type="radio" style="display: none;" >
            <label for="mulit-length"class="setting-button">Multiplication grow string length</label>
        </div>
        <button onclick="CreateChart()">Start Generate Chart</button>
    </div>
    <button onclick="return_home()">Back Home</button>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='testing.js') }}"></script>